.modal {
    width: 90%;
    background: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    left: 5%;
    padding: 20px;
    border-radius: 5px;
    z-index: 100;
}

.modal header {
    font-weight: bold;
    font-size: 20px;
}

@media (min-width: 768px) {
    .modal {
        width: 50rem;
        left: calc((100% - 50rem) /2);
    }
}