.main-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #3B47D1;
}

.main-navigation-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 60px;
}

.main-navigation__logo h1{
  margin: 0;
  font-size: 20px;
  color: #ffffff;
}

.main-navigation__items {
  margin-left: 20px;
}

.main-navigation__items ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.main-navigation__items li {
  margin: 0 15px;
  text-decoration: none;
}

.main-navigation__items a,
.main-navigation__items button {
  text-decoration: none;
  color: #ffffff;
  border: none;
  font: inherit;
  background: transparent;
  cursor: pointer;
  margin: 0;
}

.main-navigation__items a:hover,
.main-navigation__items a:active,
.main-navigation__items a.active,
.main-navigation__items button:hover,
.main-navigation__items button:active {
  text-decoration: underline;
}